<%= render 'shared/head' %>
<body>
<%= render 'shared/header' %>
    <section id="nerd-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Nerdvestor</h1>
                            <p>Educating investors</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->
    <section id="about-company">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                <%=image_tag("nerdLogo.png", class: "nerd-logo")%>
                    <h1>About Nerdvestor</h1>
                    <p>Nerdvestor was born out of a frustration of having to visit 10 or 15 different investing sites to get all the information I wanted. I decided that I would curate the best investing content from around the web and aggregate it in a single location.</p>
                    <%= link_to "Visit Site", asset_path("http://www.nerdvestor.com/"), class: "button", target: "_blank" %> 
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                             <%=image_tag("blog-image.png") %>
                        </div>
                        <h2>Newest Articles</h2>
                        <p>We search the vast array of investing blogs and articles daily, curating only the best to showcase on Nerdvestor's front page.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <%=image_tag("research-image.png") %>
                        </div>
                        <h2>Latest Research</h2>
                        <p>We read the investing literature and distill what we think is useful so that you don't have to waste time reading dull white papers.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <%=image_tag("question-image.png") %>
                        </div>
                        <h2>Learning Resources</h2>
                        <p>We search around the web for the top investing resources we can find. From valuations, to hedge fund letters, if we think it can make you a better investor we want it on Nerdvestor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%= render 'shared/footer' %> 
</body>
</html>
