<%= render 'shared/head' %>
<body>
<%= render 'shared/header' %>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Writing</h1>
                            <p>Of a questionable quality</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  <%=image_tag("foulShooting.png", class: "img-responsive") %>
                </div>
                <div class="col-sm-6">
                    <div class="project-name overflow">
                        <h2 class="bold">The Art and Science of Foul Shooting</h2>
                    </div>
                    <div class="project-info overflow">
                        <h3>Book Info</h3>
                        <p>"Learn the secret to consistently shoot 90% from the free throw line. Nik Cochran led NCAA Division 1 basketball shooting 94% from the line. Learn the system he developed to allow any player to add points to their free throw percentage. If you are a player shooting less than 90% from the line this book can help."</p>
                    </div>
                        <%= link_to "Get Book", asset_path("https://www.amazon.com/Art-Science-Foul-Shooting-Consistently-ebook/dp/B01FWUQGS2/ref=sr_1_1?ie=UTF8&qid=1507129797&sr=8-1&keywords=the+art+and+science+of+foul+shooting+-"), class: "button", target: "_blank" %> 
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                     <%=image_tag("screenplay.png", class: "img-responsive") %>
                </div>
                <div class="col-sm-6">
                    <div class="project-name overflow">
                        <h2 class="bold">The Checklist</h2>
                    </div>
                    <div class="project-info overflow">
                        <h3>Backstory</h3>
                        <p>This screenplay was written in collaboration with a close friend several years ago. At this time I thought a writing career, more specifically one in film, was in my future. The movie is a romantic comedy and centers around a guy (ladies man type)  in his late 20's, as he's pressured to settle down and find "the one".</p>
                    </div>
                   <!--  <div class="button"> -->
                       <%= link_to "Read Screenplay", asset_path("theChecklist.pdf"), class: "button", target: "_blank" %> 
                   <!--  </div> -->
                </div>
            </div>
        </div>
    </section>
     <!--/#portfolio-information-->

      <%= render 'shared/footer' %>

</body>
</html>
