<%= render 'shared/head'%>
<body>
   <%= render 'shared/header'%>
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <div class="grid__item color-11">
                            <a class="link link--yaku">
                                 <span>I</span><span>'</span><span>M</span><span>&nbsp;</span><span>N</span><span>I</span><span>K</span>
                        </a>
                    </div>
                        <p class="home-about">A web developer, quantitative investor and former professional basketball player. This site is well... about me (a tad conceited perhaps, because honestly who really cares)</p>
                        <div class="button">Continue on!</div>
                    </div>
                    <%=image_tag("nikcochran1.png", class: "nikcochran") %>
                    
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <%=image_tag("lap-top.png") %>
                        </div>
                        <h2>Web Developer</h2>
                        <p>I'm a web developer focusing on Ruby, Rails and Javascript. Currently I'm learning React. Fairly new to the game but always looking to improve.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service1">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <%=image_tag("stock-chart.png") %>
                        </div>
                        <h2>Quantitative Investor</h2>
                        <p>I'm a long-term quantitative investor. I use strategies that have be shown to work over extended periods. Focused primarily on value, momentum and trend.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <%=image_tag("basketball-icon.png") %>
                        </div>
                        <h2>Basketball Player</h2>
                        <p>I'm a former basketball player. I played Division One basketball for Davidson College and then went on to play professionally in Spain, Holland and Italy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">My Social Media</h1>
                            <p>Updated infrequently so don't get excited.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <%= link_to "Visit Social", static_pages_social_path, class:"social-button" %>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= link_to static_pages_nerdvestor_path do %>
                            <%=image_tag("nerd-logo.png", class: "img-responsive") %> 
                        <% end %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Educating Investors</h2>
                        <P>Nerdvestor currates the top investing research, blog posts and video content from around the web to help investors improve their investing and make better decisions.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Writing Projects</h2>
                        <P>You can view past and future writing projects here. Well, I guess you can't view the future ones yet, but this is where they will reside once they come to fruition.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= link_to static_pages_writings_path do %>
                            <%=image_tag("pen-image.png", class: "img-responsive") %> 
                        <% end %>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= link_to posts_path do %>
                            <%=image_tag("light-bulb.png", class: "img-responsive") %> 
                        <% end %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Thoughts</h2>
                        <P>I share some thoughts here about things that interest me. A lot of things interest me, so don't expect a coherent narrative but rather sporadic ramblings on a wide array of topics.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->
     <script>
     $(function() {
    $(".button").click(function() {
        $('html,body').animate({
            scrollTop: $(".single-service1").offset().top},
            'slow');
        });
    });
    </script>

    <%= render 'shared/footer' %>
<script src="assets/chatBot.js"></script>

 <div id="chat" onClick="open_chatbox();">Ask NikBot<%=image_tag("chatBotLogo.png", class: "chatBotLogo") %>
 </div>
 <div id="dismiss"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
 <div id="chatBox"><div onclick="closeChat()" id="close"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></div> <br><br>
    <iframe
        width="350"
        height="430"
        src="https://console.api.ai/api-client/demo/embedded/340ed3a0-6f14-4622-bfcf-5ad651e401de">
    </iframe>
</div>
</body>
</html>



