<div class="menu-cont" id="toggle">
    <span class='menu-txt' data-text='CLOSE-'>
      -MENU
    </span>
</div>
<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li data-turbolinks="false"><%= link_to "Home", root_path%></li>
      <li data-turbolinks="false"><%= link_to "Basketball Carreer", static_pages_basketball_path %></li>
      <li><%= link_to "Nerdvestor", static_pages_nerdvestor_path %></li>
      <li><%= link_to "Writing", static_pages_writings_path %></li> 
      <li><%= link_to "Social", static_pages_social_path %></li>
      <li><a href="https://github.com/NikValdez">GitHub</a></li>
    </ul>
  </nav>
</div>
<div>
  <div class="transparent"></div>