
<body>
  <button class="js-menu menu" type="button">
    <span class="bar"></span>
  </button>

  <nav>
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><%= link_to "Basketball Carreer", static_pages_basketball_path %></li>
      <li><%= link_to "Nerdvestor", static_pages_nerdvestor_path %></li>
      <li><%= link_to "Writing", static_pages_writings_path %></li> 
      <li><%= link_to "Social", static_pages_social_path %></li>
      <li><a href="https://github.com/NikValdez">GitHub</a></li>
    </ul>
  </nav>
  <script src="assets/hamburger.js"></script>
 
    <section id="blog" class="padding-top">

      <h1 id="thoughts-title">Thoughts</h1>

       <% @posts.each do |post| %>
        <div class="container">
            <div class="row">
                       <div class="col-sm-12 col-md-12">
                          <div class="single-blog single-column">
                              <div class="post-thumb">
                                    <%= image_tag post.image.url(:large), size: "950x400"%>
                                     <h1 class="post-title bold"><%= post.title %></a></h1>
                                  <h3 class="post-author"><a href="#">Posted by Nik Cochran</a></h3>
                                  <div class="post-overlay">
                                     <span class="uppercase"><a href="#"><%= post.created_at.strftime("%d") %><br><small><%= post.created_at.strftime("%b") %></small></a></span>        
                                       </div>
                                  </div>
                              <div class="post-content overflow">
                                  <p><%= sanitize(post.body.html_safe.truncate(500)) %></p>
                                  <% if current_admin_user %>
                                  <td><%= link_to 'Show', post %></td>
                                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                                  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                   <%= link_to 'New Post', new_post_path %>
                                  <% else %>
                                  <% end %>
                                  <%= link_to 'View Post', post, class: "read-more"%>
                              </div>
                          </div>
                      </div>
                      <% end %>
                      <div class="page-item">
                       <%= paginate @posts %>
                       </div>
                 </div>                    
                   
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Nik Cochran 2017. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="https://github.com/NikValdez">Nik Cochran</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  
</body>
</html>
