<body>
<%= render 'shared/menuNav'%>
   
<%= render 'shared/blogNav.js'%>
      <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://s3.amazonaws.com/nikcochran.me/nikLighthouse.png')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 mx-auto">
            <div class="site-heading">
              <a class="link link--yaku">
                <h1 class="blog-heading"><span>M</span><span>y</span><span>&nbsp;</span><span>T</span><span>h</span><span>o</span><span>u</span><span>g</span><span>h</span><span>t</span><span>s</span></h1></a>
              <span class="subheading">Incoherent Ramblings About Things That Interest Me</span>
            </div>
          </div>
        </div>
      </div>
    </header>

     <!-- Main Content -->
  <% @posts.each do |post| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="post-preview">
            <%= link_to post do %>
              <h2 class="post-title">
                <%= post.title %>
              </h2>
              <h3 class="post-subtitle">
                <%= sanitize(post.body.html_safe.truncate(100)) %>
              </h3>
            <% end %>
            <p class="post-meta">Posted by Nik Cochran on
              <%= post.created_at.strftime("%m/%d/%y")%></p>
          </div>
          <% if current_admin_user %>
              <td><%= link_to 'Show', post %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               <%= link_to 'New Post', new_post_path %>
              <% else %>
              <% end %>
              <%= link_to 'View Post', post, class: "read-more"%>
               <hr>
           <% end %>
           <div class="paginate">
            <%= paginate @posts %>
          </div>
                  
    <!-- Footer -->
    <div class="col-sm-12">
        <div class="copyright-text text-center">
            <p>&copy; Nik Cochran 2017. All Rights Reserved.</p>
            <p>Designed by <a target="_blank" href="https://github.com/NikValdez">Nik Cochran</a></p>
        </div>
    </div>    
</body>
</html>
