
<%= render 'shared/header' %>

<section id="blog-banner">
<div class="vertical-center sun">
     <div class="container">
        <div class="row">
            <div class="action">
                <div class="col-sm-12">
                    <h1 class="title">Thoughts</h1>
                    <p>About things that interest me</p>
                </div>                                                                                
            </div>
        </div>
    </div>
</div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                 <div class="col-md-12 col-sm-12">
                    <div class="single-blog blog-details two-column">
                        <div class="post-thumb">
                              <%= image_tag @post.image.url(:large), size: "950x400"%>
                            <div class="post-overlay">
                               <span class="uppercase"><a href="#"><%= @post.created_at.strftime("%d") %><br><small><%= @post.created_at.strftime("%b") %></small></a></span>
                            </div>
                        </div>
                        <div class="post-content overflow">
                            <h1 class="post-title bold"><%= @post.title %></a></h1>
                            <h3 class="post-author">Nik Cochran</a></h3>
                            <p><%= sanitize @post.body %></p>             
			            </div>
			        </div>
			    </div>
			</div>
	</section>
	<% if current_admin_user %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Back', posts_path %>
	<% else %>
	<% end %>

	<%= render 'shared/footer' %>
	</body>
</html>












